includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/shipmonk/phpstan-rules/rules.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    shipmonkRules:
        allowComparingOnlyComparableTypes:
            enabled: false
